<section class="hero is-fullheight-with-navbar is-success">
    <div class="hero-body title">
     Track your online chess games. <br><br>
     Visualize your games and focus in on weak points. <br><br>
     All for FREE!
    </div>
</section>